body {
    padding-top: 50px;
}

h1 {
    margin-top: 70px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
h2 {
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
h1 span {
    font-size: 50%;
    display: block;
}
pre {
    padding: 25px;
}
table td{
    font-size: 14px;
}
table tfoot td{
    font-weight: bold;
}
.navbar-fixed-top ul.navbar-nav li a {
    padding-bottom: 14px;
}

.main {
    padding: 40px 15px;
}

.thumbnail{
    height: 510px;
}
.thumbnail img{
     width: 60%;
}.thumbnail p{
     height:63px;
    overflow: hidden;

}
.thumbnail .price{
    color:#3a1
}
.thumbnail h3 {
    height: 50px;
}
.nav path {
    fill:#fff
}

code.block {
    padding: 20px;
    display: block;
}