<div class="row">
    <div class="col-md-12">
        <h1>Cart</h1>
        <ngcart-cart></ngcart-cart>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right"> <button class="btn btn-primary" ng-click="showCart()">Checkout</button></div>
</div>
<br/>
<div class="row">

<div ng-show="checkout">
    <h4>Results of ngCart.toObject()</h4>
    <div class="col-md-12"> <em role="alert"><span class="glyphicon glyphicon-thumbs-up"></span> See your console to browse</em></div>
    <pre>{{ checkout | json}}</pre>
</div>


</div>
