<div class="row">
    <div class="col-md-12">
        <h1>Cart</h1>
        <ngcart-cart></ngcart-cart>
    </div>
</div>



<div class="row">
    <div class="col-md-12 text-right">
        <h4>'log' checkout</h4>
        <ngcart-checkout service="log">Checkout</ngcart-checkout>
        <h4>'http' checkout</h4>
        <ngcart-checkout service="http" settings="httpSettings">Checkout </ngcart-checkout>
        <h4>'paypal' checkout</h4>
        <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
    </div>
</div>
