<div class="row">
    <div class="col-md-12">
        <h1>ngCart</h1>
        <h2>Really simple shopping cart for AngularJS</h2>
    </div>

    </div>
<div class="row">

    <div class="col-md-6">


        Quick and easy AngularJS module and set of directives for adding a cart into your AngularJS application.
        <ul>
            <li>View cart directive</li>
            <li>Add item to cart directive</li>
            <li>Summary of items in your cart directive</li>
            <li>Template driven for full UI customisation</li>
            <li>Custom data object for additional info/options images </li>
            <li>Add shipping costs</li>
            <li>Add Taxes</li>
            <li>Events Broadcast on $rootScope</li>
            <li>Fulfilment options
                <ul>
                    <li>Send to console</li>
                    <li>Send to HTTP POST</li>
                    <li>Send to PayPal</li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="col-md-6">
        <h3>Many thanks to <a href="http://adrianmejia.com/" target="_blank">Adrian Mejia</a> for featuring ngCart in his new book&hellip;</h3>
        <h4><a href="https://www.packtpub.com/web-development/building-e-commerce-application-mean"  target="_blank">Building an E-Commerce Application with MEAN</a></h4>

        <a href="https://www.packtpub.com/web-development/building-e-commerce-application-mean" target="_blank">
            <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/6551OS.jpg">
        </a>


    </div>


</div>
    <h1>ngCart Demo Store </h1>
    <p >Add items to your cart using the ng-addtocart directives below <br/>
        View your cart from the ngcart-summary directive in the top right or click 'Cart'</p>
    <div class="row">

        <div class="col-xs-3" ng-repeat="item in products">
            <div class="thumbnail">
                <img ng-src="{{ item.imageUrl }}"></h3>
                <h4>{{ item.name }}</h4>
                <p>{{ item.snippet }}</p>
                <h3 class="price">{{ item.name.length*10-.01 | currency}}</h3>
                <ngcart-addtocart id="{{ item.id }}"
                           name="{{ item.name }}"
                           price="{{ item.name.length*10-.01  }}"
                           data="item"
                           quantity="1"
                           quantity-max="30">
                    Add To Cart
                </ngcart-addtocart></div>
        </div>
    </div>
